:root {
    --phone-frame-margin-x: 16px;
    --phone-frame-margin-top: 92px;
    --game-frame-height: calc(100vh - 80px); 
    --game-frame-width: min(100vw, 375px);
}

@media (max-width: 576px) {
    body {
        margin: 0;
        padding: 0;
         overflow-x: hidden;  
    }
    .outer-container {
            height: var(--game-frame-height);
            width: var(--game-frame-width);
            margin: var(--phone-frame-margin-top) auto 0;
            max-width: 100%;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden; 
        }
    .image-container {
        width: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: transparent;
    }
}
